@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body{
        height: 100%;
        width: 100%;
        background-color: #f0f0f0;
        margin: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: Poppins;
        src: url('./assets/Poppins-Regular.ttf');
    }
    
}

.open.first{
    top: 50%!important;
    rotate: 45deg;
    transition: rotate .15s .15s, top .15s; 
}
.open.second{
    opacity: 0;
}
.open.third{
    top: 50%!important;
    rotate: -45deg;
    transition: rotate .15s .15s, top .15s; 
}
.first{
    transition: rotate .15s, top .15s .15s; 
}
.second{
    opacity: 1;
}
.third{
    transition: rotate .15s, top .15s .15s; 
}

#root{
    height: 1000vh!important;
    position: relative;
}

#MyNav{
    background-image: url('./assets/cms-light.gif');
    height: 100px;
    transition: all .3s;
}
#MyNav.show{
    background-image: url('./assets/cms-dark.gif');
    height: 60px;
}